.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}

.todoitems-container{
    display: flex;
}

.todoitems-text{
    padding-left: 16px;
    color: #404040;
    font-size: 18px;
    margin-top: 7px;
}

.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 25px;
    font-size: 14px;
}

.line-through{
    text-decoration: line-through solid #DADADA 3px;
}